<!-- HTML Codes by Quackit.com -->


<!--The content below is only a placeholder and can be replaced.-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <div>
      <nav class="navbar navbar-inverse navigation-clean" style="background-color:rgb(40,45,50);">
          <div class="container">
              <div class="navbar-header"><a class="navbar-brand" href="#">Bookstore</a><button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
              <div
                  class="collapse navbar-collapse" id="navcol-1">
                  <ul class="nav navbar-nav navbar-right">
                      <li role="presentation"><a [routerLink]="['/']" style="color:rgb(255,255,255);">All books</a></li>
                      <li role="presentation"><a [routerLink]="['/login']">Login/Register/Account</a></li>
                  </ul>
          </div>
  </div>
  </nav>
  </div>
    <router-outlet></router-outlet>
    <!-- <div class="footer-dark">
      <footer>
          <div class="container">
              <p class="copyright">23rd Squad © 2018 </p>
          </div>
      </footer>
  </div> -->


